<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Smart Contract</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Smart Contract</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#repos">Repositories</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Sign in
                            <span class="badge bg-dark text-white ms-1 rounded-pill">!</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" id="home">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{'{:,}'.format(total)}} Repositories</h1>
                    <p class="lead fw-normal text-white-50 mb-0">We have been crawling...</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5" id="repos">
            <div class="container px-4 px-lg-5 mt-5">
                <div id="card_container" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for i in repos %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if repos[i].star %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ repos[i].star }} ⭐</div>
                            {% endif %}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ repos[i].name }}</h5>
                                    <hr>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>created at</td>
                                                <td>{{ repos[i].create_time }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan=2>{{ repos[i].updated }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <!-- Scroll Event -->
        <script>
            let index = 12; // repo_1, repo_2 ...에서 1, 2 ... 나타냄

            window.addEventListener("scroll", function() {
                const scrollable = document.documentElement.scrollHeight - window.innerHeight; // 스크롤 가능한 총 길이
                const scrolled = window.scrollY; // 현 스크롤 위치

                if (Math.ceil(scrolled) >= scrollable) {
                    $.ajax({
                        type: "GET",
                        url: "../../static/repo_list.json",
                        dataType: "json",
                        success: function(res) {
                            const length = Object.keys(res).length; // repo 총 개수
                            
                            for (i = 0; i < 12; i++) { // 12개씩 loading
                                if (index >= length) break; // 모든 repo 불러오면 더 이상 loading X
                                /*
                                    res: repo_list.json 파일이며 자바스크립트에선 Object
                                    key: repo_1, repo_2 ...
                                    repo:  { name: ..., created_at: ... }
                                */
                                var key = `repo_${index}`; 
                                var repo = res[key];
                                
                                let content = `
                                    <div class="col mb-5">
                                        <div class="card h-100">
                                    `;
                                // repo가 star 개수 가지면, 뱃지 추가
                                if (repo.star != null) {
                                    content += `
                                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">${repo.star} ⭐</div>
                                    `;
                                }
                                content += `
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">${repo.name}</h5>
                                                    <hr>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>created at</td>
                                                                <td>${repo.create_time}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan=2>${repo.updated}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    `;
                                // #card_container에  repo 추가
                                document.getElementById("card_container").innerHTML += content
                                index++;
                            }
                        }
                    });
                }
            });
        </script>
    </body>
</html>
