<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Smart Contract</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.2.95/css/materialdesignicons.css" type="text/css"
        charset="utf-8">
    <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>

    <!-- for editor views -->
    <script src="https://cdn.webix.com/components/edge/ckeditor/ckeditor.js"></script>
    <!-- <script type="text/javascript" src="./richtext.js"></script> -->
    <style>
        html {
            line-height: 25px;
        }
    </style>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "y",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            elements: [
                                {
                                    view: "button", value: "Repos", width: 100,
                                    click: () => { location.href = "/data" }
                                },
                                {
                                    align: "right",
                                    body: {
                                        cols: [
                                            {
                                                view: "button", value: "Sign In", width: 100,
                                                click: () => { location.href = "#" }
                                            },
                                            {
                                                view: "button", value: "Sign Up", width: 100,
                                                click: () => { location.href = "#" }
                                            },
                                            {
                                                view: "button", value: "Sign Out", width: 100,
                                                click: () => {
                                                    var values = webix.ajax().stringify('{"signout" : "true"}')
                                                    // webix.ajax().post("http://127.0.0.1:5000//process-signout", values)
                                                    //     .then((res) => { location.reload(); });
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            align: "center",
                            body: {
                                rows: [
                                    { view: "spacer", height: 30 }, // margin 역할
                                    {
                                        view: "toolbar",
                                        elements: [{ view: "search", id: "search", width: 300, placeholder: "Search data", }]
                                    },
                                    {
                                        view: "dataview", id: "dview", width: 800, height: 1200,
                                        xCount: 1,
                                        type: {
                                            width: 800,
                                            height: 120,
                                        },
                                        template: `
                                            <table class="container" width=775 stayle="padding: 10px">
                                                <tr style="padding: 10px;">
                                                    <td style="font-size: 1.5em; font-weight: 500;"> #name#</td>
                                                    <td rowspan=4 width=200 style="text-align: center;">
                                                        <div style="font-size: 1.5em; margin: 10px">&#11088 #star#</div>
                                                        <div style="margin: 10px">&#128292 #language#</div>
                                                        <div style="margin: 10px">&#9989 #license#</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>#create_time#</td>
                                                </tr>
                                                <tr>
                                                    <td># #tag#</td>
                                                </tr>
                                            </table>
                                        `,
                                        url: "../static/repo_list2.json",
                                        pager: "pager"
                                    },
                                    {
                                        view: "pager", id: "pager", size: 10, group: 7,
                                        template: "{common.first()}{common.prev()}{common.pages()}{common.next()}{common.last()}"
                                    },
                                    { view: "spacer", height: 30 } // margin 역할
                                ]
                            }
                        },
                        {
                            template: "footer", height: 30
                        }
                    ]
                }
            });

            $$("search").attachEvent("onTimedKeyPress", () => {
                var value = $$("search").getValue().toLowerCase();
                $$("dview").filter((obj) => {
                    return obj.name.toLowerCase().indexOf(value) != -1;
                })
            });

        });
    </script>
</body>

</html>